/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 175%;
}

p {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: rgb(0, 0, 0);
}

section {
    position: relative;
    background-color: #999999;
    border: 1px solid rgb(0, 0, 0);
    margin: 1%;
}
section > p1 {
    font-size: 125%;
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    top: -1px;
    right: -1px;
    padding-left: 5%;
    padding-right: 5%;
}
section > p {
    padding: 3% 0% 0% 0%;
}

#chicken {
    background-color: #e292b7;
}

#beef {
    color: white;
    background-color: #d83f3f;
}

#sushi {
    background-color: #d3c67d;
}

.row {
  width: 100%;
}

/********** Desktop version **********/
@media (min-width: 992px) {
  .col-lg-3 {
    float: left;
    width: 31.33%;
  }
}

/********** Tablet View **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2 {
    float: left;
  }
  .col-md-1 {
    width: 98%;
  }
  .col-md-2 {
    width: 48%;
  }
}

/********** Mobile View **********/
@media (max-width: 767px) {
    .col-s-1 {
      float: left;
      width: 98%;
    }
  }